<h1>ブログ記事を書く</h1>

<%= form_for @post do |f| -%>
  <p>
    タイトル：<br>
    <%= f.text_field :title %>
  </p>
  <p>
    カテゴリ：<br>
    <%= f.text_field :category %>
  </p>
  <p>
    テキスト：<br>
    <%= f.text_area :body %>
  </p>
  <%= f.submit '登録する' %>
<% end %>
