<h1><%= @post.title %></h1>
<p>カテゴリ：<%= @post.category %></p>
<p>投稿日：<%= @post.created_at %>
<hr>
<p>
  <p><%= @post.body %></p>
</p>
<hr>
<%= link_to "編集する", edit_post_path %>
<%= link_to "削除する", post_path, method: :delete, data: { confirm: "削除しますか？" } %>
