<h1><%= @post.title %></h1>
<p>カテゴリ：<%= @post.category %></p>
<p>投稿日：<%= @post.created_at %>
<hr>
<p>
  <p><%= @post.body %></p>
</p>
<hr>
<a href="/posts/<%= @post.id %>/edit">編集する</a>
<a href="/posts/<%= @post.id %>/delete">削除する</a>
